.containerStudent {
    display: flex;    
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 70px);
}

.containerCard {
    display: flex;
    flex-direction: column;
}

.inputName {
    height: 90px;
}

.error{
    color: $colorErr;
}